*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
/*estilos a la vista principal*/
main {
  margin-top: -4.5vh;
}
.bgFood {
  background-image: url("../assets/img/bgfoodred.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100vw;
}
.containerTitle {
  position: relative;
  top: 10vh;
  margin-left: 10vw;
  width: 80vw;
}
.titleWhite {
  border: 0.3rem solid #fff;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
}
.navSearch {
  margin: 3vh auto;
  width: 90vw;
}
#map {
  height: 40vh;
  width: 90vw;
  margin: 3vh auto;
}
.subTitle {
  color: #e4414a;
  font-weight: bold;
  text-align: center;
}
